.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(42, 42, 87);
    
}

.text-align{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text-size{
    font-size: 50px;
    position: relative;
    top: 1.7rem;
    
}

.text-size2{
    font-size: 50px;
    
}

.button-container{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;

}

.button{
    width: 11rem;
    height: 3.8rem;
    border-radius: 0.4rem;
    
}
.button1{
    background-color:rgb(19, 144, 194) ;
    color: white;
    border: solid rgb(42, 42, 87);
    

}
.button2{
    color: rgb(19, 144, 194);
    background-color: rgb(42, 42, 87);
    border: solid rgb(19, 144, 194);
    
}

.container2{
    display: flex;
    justify-content: center;
    margin: 6rem;
    gap: 1rem;
    
}

.box{
    width: 30%;
    aspect-ratio: 1;
    padding: 2rem;
}

.box--white{
    background-color: white;
}

.box--blue{
    background-color: rgb(19, 144, 194);  
}



.box:hover, .button1:hover, .button2:hover{
    background-color: rgb(85, 45, 194);
    transition: 0.3s;
}

.tiny--box{
    width: 30%;
    aspect-ratio: 1;
    border-radius: 0.5rem;
   display: flex;
 
}

.tiny--box--red{
    background-color: rgb(241, 197, 197);
}

.tiny--box--green{
    background-color: rgb(181, 248, 155);
}

.tiny--box--white{
    background-color: white;
}


hr{ 
    border: 1px solid rgb(219, 11, 11);
    /* color:  rgb(151, 12, 12); */
    width: 20%;
    margin: 0;
}


    .text2{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8rem;
padding-top: 1rem;
    }

    .text3{
        font-size: 1rem;
        padding-top: 1rem; 
    }

   
        
    .position{
        margin: auto;  
        max-width: 100%;
        max-height: 100%;
    }
    
 